:host {
    color: var(--text-color-8);
    margin: 0px;
}

.resume-container {
    max-width: 1000px;
    margin: 1em auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 3rem;
    display: flex;
    gap: .15em;
    color: var(--color-1);
}

.first-name {
    font-family: 'Ostrich Medium';
}

.last-name {
    font-family: 'Ostrich Heavy';
}

.contact {
    display: flex;
    flex-direction: row;
    max-width: max-content;
    flex-wrap: wrap;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.sidebar {
    height: fit-content;
}

.sidebar>div {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media print {
    .resume-container {
        max-width: 1000px;
        margin: 0 auto;
    }
}