:host {
    display: block;
}

li {
    padding: 5px;
    //background-color: var(--color-4);
    border: 1px solid var(--color-3);
    border-radius: 8px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0.5em 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
}


li::marker {
  content: ""; /* Adds a star followed by a space */
}
