// Ostrich Sans
@font-face {
    font-family: 'Ostrich Light';
    src: url('../public/fonts/OstrichSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Ostrich Medium';
    src: url('../public/fonts/OstrichSansRounded-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Ostrich Heavy';
    src: url('../public/fonts/OstrichSans-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Ostrich Black';
    src: url('../public/fonts/OstrichSans-Black.otf') format('opentype');
}

// Inter
@font-face {
    font-family: 'Inter';
    src: url('../public/fonts/InterDisplay-Regular.woff2') format('woff2');
}

// Aileron
@font-face {
    font-family: 'Aileron';
    src: url('../public/fonts/Aileron-Light.otf') format('opentype');
}

// Safiro
@font-face {
    font-family: 'Safiro Regular';
    src: url('../public/fonts/Safiro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Safiro Bold';
    src: url('../public/fonts/Safiro-Bold.otf') format('opentype');
}
