@import 'fonts.scss';

:root {
    --text-color-dark: 0,0,0;
    --text-color-8: rgba(var(--text-color-dark),0.8);
    --text-color-6: rgba(var(--text-color-dark),0.6);
    --text-color-4: rgba(var(--text-color-dark),0.4);
    --text-color-light: rgba(255,255,255,0.9);
    --color-1: #11415D;
    --color-2: #447ea4;
    --color-3: #68B0AB;
    --color-4: #EEF0EB;
    --color-5: #f18500;
    --gradient: -webkit-linear-gradient(270deg, var(--color-1), var(--color-2));
}

body {
    margin: 0;
    font-family: 'Aileron';
    font-size: 0.9em;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}

.lucide {
    color: var(--color-5);
}

.section-header {
    margin-top: 0.5em;
    font-size: 1.2em;
    font-family: 'Ostrich Medium';
    border-bottom: 1px solid var(--color-5);
}

.left-left {
    display: inline-flex;
    width: max-content;
    align-items: flex-start;
    justify-items: center;
    gap: 5px;
}

.left-right {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding-inline-start: 1em;
}

li {
    line-height: 1.2em;
    padding: .2em 0em;
}

li::marker {
  content: "▸ "; /* Adds a star followed by a space */
}

@media print {

    a,
    a:hover,
    a:active,
    a:visited {
        color: var(--text-color-dark);
    }
}