name: Deploy Angular to GH Pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies and build
      run: |
        npm install
        # Build command: Replace `your-app-name` with the name of your project from angular.json
        ng build --configuration=production --base-href=/resume/
      # The base-href is crucial for correct routing on GitHub Pages

    - name: Deploy to GitHub Pages
      uses: AhsanAyaz/angular-deploy-gh-pages-actions@v1.4.0 # Use a specific version of the action
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }} # GitHub provided token for access
        # The folder where index.html resides in the build output
        angular_dist_build_folder: dist/resume-angular/browser 
